
body{
    padding-top: 50px;
    margin: auto;
    width: 1140px;
}
body > header{
    display: flex;
    justify-content:flex-end;
}
.products{
    display: flex;
    justify-content: center;
}
.product-item{

    min-width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0 0 4px rgba(23,9,24,0.34);
    margin: 20px;
    padding-bottom: 20px;
}
.buy-btn{

    background-color: silver;
    box-shadow: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.buy-btn:hover{
    box-shadow: 0 0 5px lightslategrey;
}
.btn-cart:hover{
    box-shadow: 0 0 5px lightslategrey;
}
.btn-cart{

    background-color: silver;
    box-shadow: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width:150px;
}
